@model esercizioS18L1.Models.Login

@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>

    <h2>Register</h2>

    @using (Html.BeginForm())
    {
        <div class="card overlay text-center w-75">
            <div class="row g-0">

                <div class="col-md-6 col-lg-7">
                    <div class="card-body p-4 p-lg-5 text-black">

                        <h5 class="fw-normal mb-3 text-light" style="letter-spacing: 1px;">Crea un nuovo account</h5>

                        <div id="inputlogin" class="form-outline mb-4">
                            <div class="mb-3">
                                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control form-control-lg", placeholder = "Nome" })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @style = "color: red" })
                            </div>
                            <div class="mb-3">
                                @Html.TextBoxFor(model => model.Cognome, new { @class = "form-control form-control-lg", placeholder = "Cognome" })
                                @Html.ValidationMessageFor(model => model.Cognome, "", new { @style = "color: red" })
                            </div>
                            <div class="mb-3">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-lg", placeholder = "Email" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color: red" })
                            </div>
                            <div class="mb-3">
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-control-lg", placeholder = "Username" })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color: red" })
                            </div>

                            @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg", placeholder = "Password" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color: red" })
                        </div>

                        @if (ViewBag.AuthError != null)
                        {
                            <div class="alert alert-danger">
                                @ViewBag.AuthError
                            </div>
                        }

                        <div class="pt-1 mb-4 d-flex align-items-center">
                            <input type="submit" value="Register" class="btn btn-primary" />
                        </div>

                        <p class="mb-5 pb-lg-2" style="color: white;">
                            Hai già un account?
                            @Html.ActionLink("Effettua il Login qui", "Login", "Login", null, new { style = "color: white;" })
                        </p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
     }

 </body>
</html>


