@model esercizioS18L1.Models.Stato

@{
    ViewBag.Title = "AggiungiStato";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container body-content">
        <h2 class="text-center">Aggiungi Stato Spedizione</h2>

        @Html.HiddenFor(model => model.SpedizioneId)

        <div class="row justify-content-center container overlay text-light">
            <div class="d-flex flex-column align-items-center">

                <div>
                    <h6>Aggiornamento</h6>
                    @Html.EditorFor(model => model.Aggiornamento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Aggiornamento, "", new { @class = "text-danger" })
                </div>

                <div>
                    <h6>Luogo</h6>
                    @Html.EditorFor(model => model.Luogo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Luogo, "", new { @class = "text-danger" })
                </div>

                <div>
                    <h6>Descrizione</h6>
                    @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
                </div>

                <div class="text-center mt-3 mb-3">
                    <input type="submit" value="Aggiungi Stato Spedizione" class="btn btn-success" />
                </div>

            </div>

            @if (ViewBag.AuthError != null)
            {
                <div class="alert alert-danger text-center w-25">
                    @ViewBag.AuthError
                </div>
            }
        </div>
    </div>
}

